/// Hesticon Icon Codes
/// Auto generates while creating icons fonts via "gulp icons" task

$hesticons-icon-code: (
    issues : "\F001",

    star : "\F002",

    stats : "\F003",

    settings : "\F004",

    android-chatboxes : "\F005",

    stack-help : "\F006",

    campaigns : "\F007",

    tick : "\F008",

    cross : "\F009",

    plus : "\F010",

    tick-round : "\F011",

    cross-round : "\F012",

    plus-round : "\F013",

    minus-round : "\F014",

    arrow-down : "\F015",

    arrow-up : "\F016",

    attachment : "\F017",

    arrow-forward : "\F018",

    arrow-back : "\F019",

    double-tick : "\F020",

    single-tick : "\F021",

    translate : "\F022",

    read : "\F023",

    sent : "\F024",

    clock : "\F025",

    eye : "\F026",

    person : "\F027",

    bell : "\F028",

    onelogin : "\F029",

    circle : "\F030",

    help-circled : "\F031",

    magnifier : "\F032",

    plus-code : "\F033",

    alert-circled : "\F034",

    alert-triangle : "\F035",

    checkbox : "\F036",

    preview : "\F037",

    checkbox-half : "\F038",

    checkbox-blank : "\F039",

    mention : "\F040",

    web : "\F041",

    mac : "\F042",

    winpc : "\F043",

    winmobile : "\F044",

    android : "\F045",

    ios : "\F046",

    all : "\F047",

    email : "\F048",

    funnel : "\F049",

    gear : "\F050",

    edit : "\F051",

    trash : "\F052",

    move : "\F053",

    lock : "\F054",

    happy : "\F055",

    happy-outline : "\F056",

    sad : "\F057",

    sad-outline : "\F058",

    download : "\F059",

    upload : "\F060",

    load-a : "\F061",

    load-b : "\F062",

    arrow-thin-left : "\F063",

    arrow-thin-right : "\F064",

    archive : "\F065",

    forward : "\F066",

    log : "\F067",

    chevron-left : "\F068",

    chevron-right : "\F069",

    double-chevron-left : "\F070",

    double-chevron-right : "\F071",

    people : "\F072",

    camera : "\F073",

    send : "\F074",

    keyboard : "\F075",

    email-open : "\F076",

    reset : "\F077",

    sort : "\F078",

    star-outline : "\F079",

    star-half : "\F080",

    text-direction : "\F081",

    text-direction-ltr : "\F082",

    text-direction-rtl : "\F083",

    webmessenger : "\F084",

    info-circled : "\F085",

    info-circle : "\F086",

    text-style : "\F087",

    bold : "\F088",

    italic : "\F089",

    underline : "\F090",

    strikethrough : "\F091",

    clear-styling : "\F092",

    bullet-list : "\F093",

    number-list : "\F094",

    link-tool : "\F095",

    insert-image : "\F096",

    embed-video : "\F097",

    drag : "\F098",
);
