{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "12.13.1"
            }
          }
        ],
        "@babel/preset-react"
      ],
      "plugins": ["transform-amd-to-commonjs"]
    }
  }
}
