// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the messenger iframe
// - - - - - - - - - - - - - - -

///
/// @group conversation
///

@include component(attachment) {

  $attachment-background-color: color(bg, white);
  $attachment-color: color(primary);

  .hs-attachment {
    display: flex;
    padding: gutter(8);
    margin-top: gutter(8);
    color: $attachment-color;
    white-space: nowrap;
    cursor: pointer;
    background-color: $attachment-background-color;
    border-radius: radius();
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);

    &__info-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}
