// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the messenger iframe
// - - - - - - - - - - - - - - -

///
/// @group body
///

@include component(body) {
  $padding: gutter(0 12);

  .hs-body {
    flex: 1 1 auto;
    padding: $padding;
    overflow-y: auto;
  }
}
