// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the messenger iframe
// - - - - - - - - - - - - - - -

@include component(branding) {

  $label-color: color(text, light);

  .hs-branding {
    padding: gutter(8 0);
    margin-top: auto;
    color: $label-color;
    text-align: center;
  }
}
