// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the messenger iframe
// - - - - - - - - - - - - - - -

@include component(branding) {

  $chat-widget-secondary-text-color: var(--hs-chat-widget-secondary-text-color);

  .hs-branding {
    display: block;
    padding-top: gutter(16);
    color: $chat-widget-secondary-text-color;
    text-align: center;
    opacity: .4;
  }
}
