// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2018, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the messenger iframe
// - - - - - - - - - - - - - - -

///
/// @group chat-view
///

@include component(chat-view) {

  $loader-color: color(primary);
  $subtitle-color: color(text, light);
  $footer-error-icon-color: color(error, text);

  .hs-chat-view {

    &__msg-loading-failed-txt {
      opacity: .8;
    }

    &__jump-to-latest-wrapper {
      position: absolute;
      right: 20px;
      bottom: 30px;
    }

    &__msgs-loader-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: gutter(12 0);
    }

    &__msg-loading-failed-link {
      margin-left: gutter(4);
    }

    &__msgs-loader-spinner {
      display: flex;
      width: 28px;
      height: 28px;
      font-size: icon-size(xxx-large);
      color: $loader-color;
    }

    &__footer-error {
      display: flex;
      align-items: center;
      margin: gutter();

      &-icon {
        margin-right: gutter(12);
        font-size: icon-size(large);
        color: $footer-error-icon-color;
      }
    }
  }
}
