// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the messenger iframe
// - - - - - - - - - - - - - - -

///
/// @group footer
///

@include component(chat-footer) {

  $chat-widget-bg-color: var(--hs-chat-widget-bg-color);
  $form-bg-color: var(--hs-form-bg-color);
  $form-border-color: var(--hs-form-border-color);
  $form-primary-text-color: var(--hs-form-primary-text-color);
  $form-accent-color: var(--hs-form-accent-color);
  $form-accent-color-light: var(--hs-form-accent-color-light);
  $form-error: var(--hs-form-error);
  $loader-color: color(primary);

  .hs-chat-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 52px;
    padding: gutter(12);

    &__buttons-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__jump-to-latest-wrapper {
      position: absolute;
      top: -50px;
      right: 20px;
    }

    &__button {
      min-width: 100px;
      padding: gutter(8 16);
      margin: gutter(0 16);
      color: $form-accent-color;
      border-color: $form-accent-color;
      border-radius: 16px;

      &:hover {
        color: $form-accent-color-light;
        border-color: $form-accent-color-light;
      }
    }

    &__field {
      display: flex;
      align-items: center;
    }

    &__title,
    &__error-text {
      flex: 1 1 auto;
      font-size: font-size(body, small);
    }

    &__title {
      color: $form-primary-text-color;
    }

    &__error-text {
      color: $form-error;
    }

    &__text-field {
      flex: 1 1 auto;

      &:focus {
        outline: none;
      }
    }

    /// @TODO :- Fix text area scroll bar issue
    &__text-area {
      height: 20px;
      min-height: 20px;
      border-radius: 0;
      resize: none;
    }

    &__text-field,
    &__text-area {
      padding: 0;
      color: $form-primary-text-color;
      background-color: $form-bg-color;
      border: 0;
      box-shadow: none;

      &:focus {
        color: $form-primary-text-color;
        background-color: $form-bg-color;
        border: 0;
        box-shadow: none;
      }

      &[disabled] {
        opacity: .4;
      }

      &[type=number] {
        -moz-appearance: textfield;
      }

      // Remove the spinner arrows for input type number
      &[type=number]::-webkit-inner-spin-button,
      &[type=number]::-webkit-outer-spin-button {
        margin: 0;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
      }

      // Remove spinner arrows for input type date and clear button which appears
      // once the date is selected

      // @NOTE - Disabling pseudo element lint rule as it gives error for
      // -webkit-clear-button scss lint recognize -webkit-clear-button as a
      // pseudo class and not a pseudo element
      // scss-lint:disable PseudoElement
      &[type=date]::-webkit-inner-spin-button,
      &[type=date]::-webkit-clear-button {
        display: none;
        -webkit-appearance: none;
      }
      // scss-lint:enable PseudoElement
    }

    &__attachment-icon,
    &__submit {
      color: $form-accent-color;
    }

    &__submit {
      display: flex;
      align-self: flex-end;
      margin-left: gutter(12);
      cursor: pointer;
    }

    &__csat-footer {
      padding: gutter(4 52);
    }

    &__heading {
      display: flex;
      justify-content: center;
      margin-bottom: gutter(8);
      text-align: center;
    }

    &__reply-heading {
      margin-bottom: gutter(16);
    }

    &__heading-text {
      flex-basis: 80%;
    }

    &__skip-btn-wrapper {
      position: absolute;
      top: -49px;
      right: 16px;
      display: flex;
      padding: gutter(12 0 12 12);
      background-color: $chat-widget-bg-color;
      border-top-left-radius: 24px;
    }

    &__skip-btn {
      align-self: flex-end;
      min-width: auto;
      padding: gutter(3 12);
      margin: gutter(0);
      font-size: font-size(body, small);
      font-weight: font-weight(normal);
      line-height: line-height(h6);
    }

    /// form invalid modifier is used to disable elements
    &--form-invalid {
      .hs-chat-footer__submit {
        cursor: not-allowed;
        opacity: .4;
      }
    }

    /// form error modifier is used to show form error on elements
    &--form-error {
      .hs-chat-footer__submit {
        color: $form-error;
      }
    }

    &__icon {
      font-size: icon-size(large);
      color: $loader-color;
    }

    &__icon-error {
      color: $form-error;
    }

    &__field-item {
      margin-left: gutter(6);
    }

    &--mobile {
      .hs-chat-footer__text-field {
        // @NOTE - If we want to avoid zoom on focus for iOS devices, we need to
        // set the font size to 16px
        &[type=number],
        &[type=date] {
          font-size: font-size(body, large);
        }
      }
    }
  }
}
