// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the messenger iframe
// - - - - - - - - - - - - - - -

///
/// @group csat
///

@include component(csat) {

  $input-border-color: color(border);
  $star-font-size: icon-size(xxx-large);

  .hs-csat {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;

    &__form {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;
      padding: gutter(20 32);
    }

    &__form-title {
      padding: gutter(20);
      text-align: center;
    }

    &__stars {
      padding-bottom: gutter(20);
    }

    &__input-title {
      font-weight: font-weight(bold);
    }

    &__input {
      border: 1px solid $input-border-color;
      border-radius: radius();
      resize: none;
    }

    &__star {
      padding: gutter(0 8);
      font-size: $star-font-size;
    }

    &__footer {
      margin-top: auto;
      text-align: center;
    }

    &__footer-btn {
      border-radius: 18px;
    }
  }
}
