// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the messenger iframe
// - - - - - - - - - - - - - - -

///
/// @group csat
///

@include component(csat) {

  $chat-widget-primary-text-color: var(--hs-chat-widget-primary-text-color);
  $form-bg-color: var(--hs-form-bg-color);
  $form-border-color: var(--hs-form-border-color);
  $form-accent-color: var(--hs-form-accent-color);
  $form-primary-text-color: var(--hs-form-primary-text-color);

  .hs-csat {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;

    &__form {
      padding: gutter(40);
    }

    &__form-item {
      padding: gutter(12 0);
    }

    &__form-label {
      font-weight: font-weight(medium);
      color: $chat-widget-primary-text-color;
    }

    &__heading {
      color: $chat-widget-primary-text-color;
      text-align: center;
    }

    &__input {
      color: $form-primary-text-color;
      background-color: $form-bg-color;
      border: 1px solid $form-border-color;
      resize: none;

      &:focus {
        color: $form-accent-color;
        background-color: $form-bg-color;
      }
    }
  }
}
