// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the messenger iframe
// - - - - - - - - - - - - - - -

///
/// @group footer
///

@include component(faq-footer) {

  .hs-faq-footer {
    display: flex;
    justify-content: space-between;
    padding: gutter(16 12);

    &__btn {
      margin: gutter(0 4);
    }
  }
}
