// Styles for Helpshift Web Chat UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the webchat iframe
// - - - - - - - - - - - - - - -

///
/// @group file input
///

@include component(file-input) {

  $icon-color: color(primary);
  $info-text-color: color(text, light);

  .hs-file-input {
    display: flex;

    &__info-text {
      color: $info-text-color;
    }

    &__icon {
      color: $icon-color;
    }

    &__file {
      display: none;
    }
  }
}
