// Styles for Helpshift Web Chat UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the webchat iframe
// - - - - - - - - - - - - - - -

///
/// @group file input
///

@include component(file-input) {

  .hs-file-input {
    display: flex;
    padding: gutter(8);
    cursor: pointer;

    &__file {
      display: none;
    }

    &--no-padding {
      padding: 0;
    }

    &--disabled {
      cursor: not-allowed;

      .hs-file-input__icon,
      .hs-file-input__info-text {
        opacity: .4;
      }
    }
  }
}
