// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the messenger iframe
// - - - - - - - - - - - - - - -

///
/// @group footer
///

@include component(footer) {

  $bg-color: color(bg, white);
  $border-color: color(border, light);

  .hs-footer {
    flex: 0 0 auto;
    background-color: $bg-color;
    border-top: 1px solid $border-color;

    /// Applies default radius to footer buttons
    &__btn {
      border-radius: 18px;
    }

    /// Horizontally center align items
    /// Add this modifier when you want center align footer buttons
    &--center-items {
      display: flex;
      justify-content: center;
      padding: gutter(8);
    }

    /// Wrapper to align items vertically
    /// @NOTE :- We need a wrapper as we don't want to grow the items to full
    /// width in case of vertical alignment of child elements
    &__vertical-items-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }
}
