// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the messenger iframe
// - - - - - - - - - - - - - - -

///
/// @group footer
///

@include component(footer) {
  $form-bg-color: var(--hs-form-bg-color);
  $form-border-color: var(--hs-form-border-color);
  $form-primary-text-color: var(--hs-form-primary-text-color);
  $form-accent-color: var(--hs-form-accent-color);
  $form-accent-color-light: var(--hs-form-accent-color-light);
  .hs-footer {
    position: relative;
    flex: 0 0 auto;
    background-color: $form-bg-color;
    border-top: 1px solid $form-border-color;
    border-radius: radius(0 0 8 8);

    /// Applies default radius to footer buttons
    &__btn {
      color: $form-bg-color;
      background-color: $form-accent-color;
      border-radius: 18px;

      &:hover {
        color: $form-bg-color;
        background-color: $form-accent-color-light;
      }
    }

    &--intents {
      border-top-right-radius: gutter(8);
      border-top-left-radius: gutter(8);
    }

    &--intents-open {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-height: 100%;
    }

    /// Horizontally center align items
    /// Add this modifier when you want center align footer buttons
    &--center-items {
      display: flex;
      justify-content: center;
      padding: gutter(8);
    }

    /// Wrapper to align items vertically
    /// @NOTE :- We need a wrapper as we don't want to grow the items to full
    /// width in case of vertical alignment of child elements
    &__vertical-items-wrapper {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    /// Modifier to be applied when footer is active
    &--active {
      border-color: $form-accent-color;
    }

    /// Modifier to be applied for mobile browser and full screen
    &--full-screen {
      border-radius: 0;
    }

    &--failure {
      background-color: inherit;
      border-top: 0;
    }

    &--list-picker-opened {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-height: 100%;
    }

    &--with-list-picker {
      border-top-right-radius: radius();
      border-top-left-radius: radius();
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
    }
  }
}
