// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the messenger iframe
// - - - - - - - - - - - - - - -

///
/// @group header
///

@include component(header) {
  $padding: gutter(0 16);
  $bg-color: var(--hs-header-bg-color);
  $header-text-color: var(--hs-header-text-color);
  $avatar-size: 32px;

  .hs-header {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    justify-content: space-between;
    height: 52px;
    padding: $padding;
    font-weight: font-weight(medium);
    color: $header-text-color;
    background-color: $bg-color;

    &--with-avatar {
      .hs-header__back-icon {
        padding-right: gutter(12);
      }
    }

    &__avatar-title-wrapper {
      display: flex;
      align-items: center;
      min-width: 0;
    }

    &__back-btn-link,
    &__close-btn-link {
      display: flex;
      align-items: center;
      color: $header-text-color;

      &:focus {
        outline-offset: 2px;
      }
    }

    &__close-btn-link {
      padding-right: gutter(4);
    }

    &__back-icon {
      padding: gutter(0 4);
    }

    &__avatar {
      margin-right: gutter(4);
    }

    &__title-text {
      @include ellipsis;
      padding-left: gutter(4);
      font-size: font-size(body, large);
    }
  }
}
