// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the messenger iframe
// - - - - - - - - - - - - - - -

///
/// @group header
///

@include component(header) {
  $padding: gutter(0 16);
  $bg-color: var(--hs-header-bg-color);
  $header-text-color: var(--hs-header-text-color);
  $avatar-size: 32px;

  // This value gets overriden in the componentDidMount of viewHeader
  // component by computing the width of the header
  $header-title-text-fixed-max-width: 300px;

  .hs-header {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    justify-content: space-between;
    // Note: If this value gets updated in future, then also update the
    // FIXED_CHAT_HEADER_HEIGHT value in webChat.js
    height: 52px;
    padding: $padding;
    font-weight: font-weight(medium);
    color: $header-text-color;
    background-color: $bg-color;

    &__avatar-title-wrapper {
      display: flex;
      align-items: center;
      min-width: 0;
    }

    &__back-btn-link,
    &__close-btn-link {
      display: flex;
      align-items: center;
      color: $header-text-color;

      &:focus {
        outline-offset: 2px;
      }
    }

    &__close-btn-link {
      padding-right: gutter(4);
    }

    &__back-icon {
      padding: gutter(0 4);
    }

    &__avatar {
      margin-right: gutter(4);
    }

    &__title-text {
      @include ellipsis;
      padding-left: gutter(4);
      font-size: font-size(body, large);
    }

    &--with-avatar {
      .hs-header__back-icon {
        padding-right: gutter(12);
      }
    }

    &--mobile {
      justify-content: initial;

      .hs-header__avatar-title-wrapper {
        margin: 0 auto;
      }
    }

    &--safari-mobile-ellipses-fix {
      .hs-header__title-text {
        max-width: $header-title-text-fixed-max-width;
      }
    }
  }
}
