// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the messenger iframe
// - - - - - - - - - - - - - - -

///
/// @group header
///

@include component(header) {
  $padding: gutter(12);
  $bg-color: palette(red, base);
  $color: color(text, white);

  .hs-header {
    flex: 0 0 auto;
    padding: $padding;
    font-weight: font-weight(bold);
    color: $color;
    background-color: $bg-color;
  }
}
