// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the messenger iframe
// - - - - - - - - - - - - - - -

///
/// @group conversation
///

@include component(message) {

  $max-width: 88%;
  $left-bg-color: color(bg, light);
  $suggested-faq-border-color: color(border, light);
  $suggested-faq-bg-color: color(bg, white);
  $faq-border-color: color(border, light);
  $right-bg-color: color(bg, white);
  $right-border-color: color(border, light);
  $end-chat-msg-text-color: color(text, light);
  $end-chat-msg-border-color: color(border, light);
  $message-details-color: color(text, light);
  $failed-img-icon-width: 20px;
  $failed-img-icon-height: 20px;
  $failed-img-icon-color: color(error, text);
  $error-message-border-color: color(error, border);

  .hs-message {
    align-self: flex-start;
    max-width: $max-width;
    margin-top: gutter(6);

    &__item {
      position: relative;
      flex: 0 0 auto;
      padding: gutter(8 12);
      overflow: hidden;
      word-break: normal;
      word-wrap: break-word;
      white-space: pre-wrap;
      background-color: $left-bg-color;
      border-radius: 6px;
    }

    &--right {
      align-self: flex-end;

      .hs-message__item {
        background-color: $right-bg-color;
        border: 1px solid $right-border-color;
      }
    }

    &__suggested-faqs {
      display: flex;
      flex-direction: column;
      margin-top: gutter(6);
    }

    &__suggested-faq {
      display: flex;
      justify-content: space-between;
      padding: gutter(12);
      margin: gutter(4 0);
      background-color: $suggested-faq-bg-color;
      border-radius: 6px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    }

    &__suggested-faq-icon {
      align-self: center;
      margin-left: gutter(4);
    }

    &__details {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      color: $message-details-color;
    }

    &__agent-nickname {
      margin-right: gutter(8);
      font-weight: font-weight(medium);
    }

    &__time-ago {
      margin-left: gutter(8);
      font-size: font-size(body, small);
      letter-spacing: -.5px;
    }

    &__icon-error {
      padding-right: gutter(4);
      color: $failed-img-icon-color;
    }

    &__user-attachment {
      display: flex;
      align-items: center;
    }

    &__failed-img {
      opacity: .5;
    }

    &__failed-img-icon {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: $failed-img-icon-width;
      height: $failed-img-icon-height;
      margin: auto;
      color: $failed-img-icon-color;
    }

    &--no-padding {
      .hs-message__item {
        padding: 0;
      }
    }

    &--error {
      .hs-message__item {
        border-color: $error-message-border-color;
      }
    }

    &--end-chat {
      display: flex;
      align-items: center;
      align-self: stretch;
      max-width: 100%;
      margin: gutter(28 0);
      color: $end-chat-msg-text-color;
      text-align: center;

      &::before,
      &::after {
        flex: 1 1 auto;
        height: 1px;
        background: $end-chat-msg-border-color;
        content: "";
      }

      &::before {
        margin-right: gutter(8);
      }

      &::after {
        margin-left: gutter(8);
      }
    }

    &:first-child {
      margin-top: gutter(12);
    }
  }

  .hs-message--left + .hs-message--right {
    margin-top: gutter(16);
  }

  .hs-message--right + .hs-message--left {
    margin-top: gutter(16);
  }
}
