// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the messenger iframe
// - - - - - - - - - - - - - - -

///
/// @group conversation
///

@include component(message) {

  $max-width: 80%;
  $left-bg-color: color(bg, light);
  $timestamp-color: color(text, light);
  $suggested-faqs-border-color: color(border, light);
  $suggested-faqs-bg-color: color(bg, white);
  $faq-border-color: color(border, light);
  $right-bg-color: color(bg, white);
  $right-border-color: color(border, light);

  .hs-message {
    position: relative;
    flex: 0 0 auto;
    float: left;
    max-width: $max-width;
    padding: gutter(8 12 16);
    margin-bottom: gutter(16);
    // @TODO: Remove float and achieve same functionality using flex.
    margin-left: gutter(16);
    background-color: $left-bg-color;

    &::after {
      position: absolute;
      top: 0;
      left: gutter(-8);
      width: 0;
      height: 0;
      border: 4px solid $left-bg-color;
      border-bottom-color: transparent;
      border-left-color: transparent;
      content: "";
    }

    &--right {
      float: right;
      margin-right: gutter(16);
      margin-left: auto;
      background-color: $right-bg-color;
      border: 1px solid $right-border-color;
      border-radius: radius(4 0 4 4);

      &::after {
        right: gutter(-8);
        left: auto;
        border: 4px solid $right-bg-color;
        border-right-color: transparent;
        border-bottom-color: transparent;
      }
    }

    &__timestamp {
      display: block;
      margin-top: gutter(4);
      color: $timestamp-color;
      text-align: right;
    }

    &--suggested-faqs {
      padding: gutter(8);
      background-color: $suggested-faqs-bg-color;
      border: 1px solid $suggested-faqs-border-color;

      &__title {
        padding-bottom: gutter(12);
      }
    }

  }
}
