// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the messenger iframe
// - - - - - - - - - - - - - - -

///
/// @group conversation
///

@include component(message) {

  $max-width: 88%;
  $failed-img-icon-width: 20px;
  $failed-img-icon-height: 20px;

  $chat-widget-secondary-text-color: var(--hs-chat-widget-secondary-text-color);
  $chat-widget-error: var(--hs-chat-widget-error);

  $user-message-bg-color: var(--hs-user-message-bg-color);
  $user-message-border-color: var(--hs-user-message-border-color);
  $user-message-primary-text-color: var(--hs-user-message-primary-text-color);
  $user-message-accent-color: var(--hs-user-message-accent-color);
  $user-message-accent-color-light: var(--hs-user-message-accent-color-light);
  $user-message-error: var(--hs-user-message-error);

  $agent-message-bg-color: var(--hs-agent-message-bg-color);
  $agent-message-border-color: var(--hs-agent-message-border-color);
  $agent-message-primary-text-color: var(--hs-agent-message-primary-text-color);
  $agent-message-accent-color: var(--hs-agent-message-accent-color);
  $agent-message-accent-color-light: var(--hs-agent-message-accent-color-light);

  $form-bg-color: var(--hs-form-bg-color);
  $form-accent-color: var(--hs-form-accent-color);
  $form-accent-color-light: var(--hs-form-accent-color-light);

  .hs-message {
    align-self: flex-start;
    max-width: $max-width;
    margin-top: gutter(6);

    &__item {
      position: relative;
      display: inline-block;
      padding: gutter(8 12);
      overflow: hidden;
      color: $agent-message-primary-text-color;
      word-break: normal;
      word-wrap: break-word;
      white-space: pre-wrap;
      background-color: $agent-message-bg-color;
      border: 1px solid $agent-message-border-color;
      border-radius: 6px;

      a {
        color: $agent-message-accent-color;

        &:hover {
          color: $agent-message-accent-color-light;
        }
      }
    }

    &--right {
      align-self: flex-end;

      .hs-message__item {
        color: $user-message-primary-text-color;
        background-color: $user-message-bg-color;
        border: 1px solid $user-message-border-color;
      }

      .hs-message__details {
        justify-content: flex-end;
      }
    }

    &__suggested-faqs {
      display: flex;
      flex-direction: column;
      margin-top: gutter(6);
    }

    &__suggested-faq {
      display: flex;
      justify-content: space-between;
      padding: gutter(12);
      margin: gutter(4 0);
      color: $form-accent-color;
      cursor: pointer;
      background-color: $form-bg-color;
      border-radius: 6px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);

      &:hover {
        color: $form-accent-color-light;
      }
    }

    &__suggested-faq-icon {
      align-self: center;
      margin-left: gutter(4);
    }

    &__details {
      display: flex;
      font-size: font-size(body, small);
      letter-spacing: -.5px;
      color: $chat-widget-secondary-text-color;
      opacity: .8;
    }

    &__icon-error {
      padding-right: gutter(4);
      font-size: icon-size(xx-small);
    }

    &__user-attachment {
      display: flex;
      align-items: center;
      color: $user-message-accent-color;

      &:hover {
        color: $user-message-accent-color-light;
      }
    }

    &__attachment {
      display: block;
      cursor: pointer;
    }

    &__attachment-error {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      color: $chat-widget-error;
    }

    &__failed-img {
      opacity: .5;
    }

    &--image-attachment {
      overflow: hidden;

      .hs-message__item {
        padding: 0;
      }
    }

    &--error {
      .hs-message__item {
        border-color: $user-message-error;
      }
    }

    &__image-wrapper {
      width: 260px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 100%;
    }

    &__height-finder {
      width: 100%;
      opacity: 0;
    }

    &--system-info {
      display: flex;
      align-items: center;
      align-self: stretch;
      max-width: 100%;
      margin: gutter(28 0);
      color: $chat-widget-secondary-text-color;
      text-align: center;
      opacity: .5;

      &::before,
      &::after {
        flex: 1 1 auto;
        height: 1px;
        background: $chat-widget-secondary-text-color;
        content: "";
      }

      &::before {
        margin-right: gutter(8);
      }

      &::after {
        margin-left: gutter(8);
      }
    }

    &:first-child {
      margin-top: gutter(12);
    }
  }

  .hs-message--left + .hs-message--right {
    margin-top: gutter(16);
  }

  .hs-message--right + .hs-message--left {
    margin-top: gutter(16);
  }
}
