// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the messenger iframe
// - - - - - - - - - - - - - - -

///
/// @group conversation
///

@include component(message-list) {
  $timestamp-color: color(text, light);

  $chat-widget-secondary-text-color: var(--hs-chat-widget-secondary-text-color);

  $agent-message-bg-color: var(--hs-agent-message-bg-color);
  $agent-message-border-color: var(--hs-agent-message-border-color);
  $agent-message-primary-text-color: var(--hs-agent-message-primary-text-color);

  $form-accent-color: var(--hs-form-accent-color);
  $form-accent-color-light: var(--hs-form-accent-color-light);

  .hs-message-list {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: flex-end;
    padding: gutter(0 20 16);

    &--with-avatar {
      padding-left: gutter(56);
    }

    &__date-separator {
      margin: gutter(4 0);
      color: $timestamp-color;
      text-align: center;
    }

    &__typing-indicator {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 52px;
      padding: gutter(16 0);
      margin-top: gutter(12);
      background-color: $agent-message-bg-color;
      border: 1px solid $agent-message-border-color;
      border-radius: 6px;
    }

    &__typing-dot {
      @include animation(typing-indicator, $duration: 750ms, $count: infinite);
      width: 8px;
      height: 8px;
      margin: gutter(0 2);
      background: $agent-message-primary-text-color;
      border-radius: 50%;
    }

    &__typing-anim-1 {
      animation-delay: 0s;
    }

    &__typing-anim-2 {
      animation-delay: 0.075s;
    }

    &__typing-anim-3 {
      animation-delay: 0.15s;
    }

    &__pills-container {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      margin-top: gutter(16);
    }

    &__pill-heading {
      margin-bottom: gutter(4);
      font-weight: font-weight(medium);
      letter-spacing: -0.5px;
      color: $chat-widget-secondary-text-color;
      opacity: 0.8;
    }

    &__pill-options {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      // @NOTE - In order for flex wrap to work on IE, we need to set explicit
      // width to the container so that child items get correctly wrapped
      width: 100%;
      outline: none;
    }

    &__pill-option {
      @include word-break;
      padding: gutter(8 16);
      margin: gutter(4 0 4 8);
      font-weight: font-weight(normal);
      color: $form-accent-color;
      border-color: $form-accent-color;
      border-radius: 16px;
    }

    &__skip-btn-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: gutter(4);
    }
  }
}
