// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2019, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the nested picker component
// - - - - - - - - - - - - - - -

///
/// @group nested-picker
///

@include component(nested-picker) {
  // @TODO: Use variable for highlighted-option-background
  $highlighted-option-background: #eaecec;
  $no-tap-highlight-color: rgba(255, 255, 255, 0);
  $action-icon-size: icon-size();
  $action-icon-color: var(--hs-base-color);
  $header-txt-color: var(--hs-chat-widget-secondary-text-color);
  $form-border-color: var(--hs-form-border-color);
  $form-secondary-border-color: var(--hs-form-secondary-border-color);
  $form-secondary-bg-color: var(--hs-form-secondary-bg-color);

  .hs-nested-picker {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;

    &__options-wrapper {
      display: flex;
      flex-basis: 100%;
      justify-content: center;
      overflow-y: hidden;
      outline-offset: -3px;
    }

    &__options {
      width: 100%;
      margin: 0;
      list-style: none;
    }

    &__option-item {
      @include ellipsis;
      display: flex;
      padding: gutter(12);
      cursor: pointer;
      border-bottom: 1px solid $form-secondary-border-color;
      -webkit-tap-highlight-color: $no-tap-highlight-color;

      &-highlighted {
        background: $highlighted-option-background;
      }

      &-parent-option {
        color: $header-txt-color;
        opacity: 0.7;
      }

      &-search-result {
        flex: 1;
      }

      &-label {
        @include word-break;
        flex: 1;
        white-space: normal;
      }

      &-arrow {
        color: $form-secondary-bg-color;
      }
    }

    &__header {
      display: flex;
      align-items: center;
      padding: gutter(12 0);
      border-bottom: 1px solid $form-border-color;

      &-text {
        @include ellipsis(90%);
        font-weight: font-weight(medium);
        color: $header-txt-color;
        opacity: 0.7;
      }

      &-toggle-icon {
        padding: gutter(0 12);
        font-size: $action-icon-size;
        font-weight: font-weight(bold);
        color: $action-icon-color;
        cursor: pointer;
      }

      &-clickable {
        cursor: pointer;
      }
    }

    &__empty-list-note {
      display: flex;
      align-items: center;
      max-width: 75%;
      font-weight: font-weight(medium);
      text-align: center;
      opacity: 0.7;
    }

    &--opened {
      overflow-y: auto;
      // Auto hide vertical scrollbars on IE and Edge. Similar to how FF
      // and Chrome behave.
      // Details –
      // https://css-tricks.com/snippets/css/hide-scrollbar-in-edge-ie-1011/
      // https://developer.mozilla.org/en-US/docs/Web/CSS/-ms-overflow-style
      -ms-overflow-style: -ms-autohiding-scrollbar;

      .hs-nested-picker__options-wrapper {
        overflow-y: auto;
        // Auto hide vertical scrollbars on IE and Edge. Similar to how FF
        // and Chrome behave.
        // Details –
        // https://css-tricks.com/snippets/css/hide-scrollbar-in-edge-ie-1011/
        // https://developer.mozilla.org/en-US/docs/Web/CSS/-ms-overflow-style
        -ms-overflow-style: -ms-autohiding-scrollbar;
      }
    }
  }
}
