// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the messenger iframe
// - - - - - - - - - - - - - - -

///
/// @group footer
///

@include component(reply-box) {

  $border-color: color(border, base);
  $textarea-bg-color: color(bg, white);
  $disabled-btn-color: color(bg, gray);

  .hs-reply-box {
    position: relative;
    display: flex;
    border-top: 1px solid $border-color;

    &__textarea {
      height: gutter(48);
      min-height: gutter(48);
      background-color: $textarea-bg-color;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      resize: none;
    }

    &__submit-btn {
      position: absolute;
      right: gutter(4);
      bottom: gutter(6);
    }

    &__send-icon {
      padding: gutter(8);
    }

    &--disabled {
      .hs-reply-box__submit-btn {
        color: $disabled-btn-color;
        cursor: not-allowed;
      }
    }
  }
}
