// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the messenger iframe
// - - - - - - - - - - - - - - -

///
/// @group conversation
///

@include component(suggested-faq) {

  $faq-border-color: color(border, light);

  .hs-suggested-faq {
    padding: gutter(8 0);
    overflow: hidden;
    cursor: pointer;
    border-bottom: 1px solid $faq-border-color;

    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }

    &:first-child {
      padding-top: 0;
    }

    &::after {
      float: right;
      content: "\2192"; /// right arrow
    }
  }
}
