// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the messenger iframe
// - - - - - - - - - - - - - - -

///
/// @group view
///

@include component(view) {

  $bg-color: color(bg, x-light);

  .hs-view {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    background-color: $bg-color;

    &__content {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      height: 100%;
      overflow-y: auto;
    }

    &__scroll-wrapper {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow-y: auto;
      // Auto hide vertical scrollbars on IE and Edge. Similar to how FF
      // and Chrome behave.
      // Details –
      // https://css-tricks.com/snippets/css/hide-scrollbar-in-edge-ie-1011/
      // https://developer.mozilla.org/en-US/docs/Web/CSS/-ms-overflow-style
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
  }
}
