// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the messenger iframe
// - - - - - - - - - - - - - - -

///
/// @group view
///

@include component(view) {

  $chat-widget-bg-color: var(--hs-chat-widget-bg-color);

  .hs-view {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    background-color: $chat-widget-bg-color;

    &__content {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      height: 100%;
      overflow-y: auto;
    }

    &__scroll-wrapper {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      overflow-y: auto;
    }
  }
}
