// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2019, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the picker header component
// - - - - - - - - - - - - - - -

///
/// @group picker
///

@include component(picker-header) {
  // @TODO: Use the colors from config
  $search-label-color: color(text, light);
  $action-icon-size: font-size(body, large);
  $action-icon-color: color(button);


  .hs-picker-header {
    display: flex;
    align-items: center;

    &__input {
      flex: 1 0 auto;
      border: 0;
      outline: none;
    }

    &__search-wrapper {
      display: flex;
      align-items: center;
      flex: 1 0 auto;
      justify-content: space-between;
      margin-left: gutter(20);
    }

    &__search-label {
      color: $search-label-color;
    }

    &__close-search-icon,
    &__search-icon,
    &__toggle-icon {
      font-size: $action-icon-size;
      color: $action-icon-color;
      cursor: pointer;
    }

    &__toggle-icon {
      @include rotate(-90);
    }

    &--opened {
      .hs-picker-header__toggle-icon {
        @include rotate(90);
      }
    }
  }
}
