// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2019, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the picker options component
// - - - - - - - - - - - - - - -

///
/// @group picker
///

@include component(picker-options) {
  // @TODO: Fix how the color value is derived
  $highlighted-option-background: rgba(67, 191, 108, .05);

  .hs-picker-options {
    width: 100%;
    margin: 0;
    list-style: none;

    &__option-item {
      @include ellipsis;
      padding: gutter(12 16);
      cursor: pointer;

      &-highlighted {
        background: $highlighted-option-background;
      }
    }
  }
}
