// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2019, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Styles for the picker component
// - - - - - - - - - - - - - - -

///
/// @group picker
///

@include component(picker) {
  $picker-closed-max-height: 112px;
  $header-opened-bottom-border: color(border);
  $no-search-results-text-color: color(text, light);

  .hs-picker {
    display: flex;
    flex-direction: column;
    // height: 100%;

    &__header-wrapper {
      flex: 0 0 auto;
      padding: gutter(12 20);
    }

    &__options-wrapper {
      display: flex;
      flex-basis: 100%;
      overflow-y: scroll;
    }

    &__no-search-results {
      flex-basis: 100%;
      padding: gutter(12 0);
      color: $no-search-results-text-color;
      text-align: center;
    }

    &--closed {
      max-height: $picker-closed-max-height;
      overflow: hidden;

      .hs-picker__header-wrapper {
        cursor: pointer;
      }

      .hs-picker__options-wrapper {
        overflow-y: hidden;
      }
    }

    &--opened {
      .hs-picker__header-wrapper {
        border-bottom: 1px solid $header-opened-bottom-border;
      }
    }
  }
}
