// Styles for Helpshift Admin Dashboard
// [helpshift.com](https://helpshift.com)
// Copyright 2016, Helpshift Inc.

// - - - - - - - - - - - - - - -
// Global variables and styles
// - - - - - - - - - - - - - - -

// scss-lint:disable ColorKeyword, ColorVariable, PropertySortOrder

////
/// @group global
////

/// Color palette used for the dashboard
/// @type Map
$_palettes: (
  black: (
    dark:      #383f44,
    base:      #576066,
    light:     #859199
  ),
  green: (
    x-dark:    #19803c,
    dark:      #2e9952,
    base:      #43bf6c,
    light:     #8dd9a6,
    x-light:   #b0ebbf,
    xx-light:  #e6faeb
  ),
  gray: (
    x-dark:    #a2a4a6,
    dark:      #c8cacc,
    base:      #d4d7d9,
    light:     #e8e9eb,
    x-light:   #f8f9f9,
    xx-light:  #fff
  ),
  red: (
    dark:      #e65050,
    base:      #f66,
    light:     #ff8c8c
  )
) !global;


/// Colors for global elements on the dashboard
/// @type Map
$_colors: (
  bg: (
    lightblack: palette(black, dark),
    darkgray: palette(black),
    gray: palette(gray, light),
    lightgray: palette(gray, x-light),
    base: palette(gray, xx-light),
    x-dark: palette(black, dark),
    light: palette(gray, light),
    x-light: palette(gray, x-light),
    white: palette(gray, xx-light)
   ),
  border: (
    dark: palette(gray, dark),
    base: palette(gray),
    light: palette(gray, light)
  ),
  button: (
    base: palette(green)
  ),
  error: (
    border: palette(red),
    text: palette(red, dark)
  ),
  primary: (
    x-dark: palette(green, x-dark),
    dark: var(--hs-custom-primary-color-dark),
    base: var(--hs-custom-primary-color),
    light: var(--hs-custom-primary-color-light),
    x-light: palette(green, x-light),
    xx-light: palette(green, xx-light)
  ),
  secondary: (
    dark: palette(red, dark),
    base: palette(red),
    light: palette(red, light)
  ),
  success: (
    border: palette(green),
    text: palette(green, dark)
  ),
  text: (
    dark: palette(black, dark),
    base: palette(black),
    light: palette(black, light),
    white: palette(gray, xx-light)
  )
) !global;

/// Font sizes for body and header elements
/// @type Map
$_font-sizes: (
  body: (
    large: 16,
    base: 14,
    small: 12
  ),
  heading: (
    h1: 24,
    h2: 21,
    h3: 18,
    h4: 16,
    h5: 14,
    h6: 12,
  )
) !global;

/// Line heights for body and header elements
/// @type Map
$_line-heights: (
  base: 1.5,
  body: 1.5,
  form: 1.6,
  h1: 32px,
  h2: 28px,
  h3: 24px,
  h4: 20px,
  h5: 20px,
  h6: 16px,
) !global;

/// Font weights for body and header elements
/// @type Map
$_font-weights: (
  normal: 400,
  medium: 500,
  bold: 600,
) !global;

/// Font sizes for icons
/// @type Map
$_icon-sizes: (
  xxx-large: 28,
  xx-large: 26,
  x-large: 24,
  large: 22,
  base: 20,
  small: 18,
  x-small: 16,
  xx-small: 14
) !global;

/// Base for gutter (margins, paddings) values used for components.
/// @type Number
$_gutter-base: 4px;

/// Border radius
/// @type Map
$_radius: (
  base: 4,
  small: 2,
  round: 50%
) !global;

/// Map to manage z-indexes of elements
/// @type Map
$_z-index: (
  page: (
    base: 100
  )
) !global;

/// Font stack used for elements that should be rendered in system fonts
/// @type String | List
$_font-family-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

/// Default font stack for all elements.
/// @type String | List
$_font-family: #{$_font-family-system};

/// Font stack used for elements that use monospaced type, such as code samples
/// @type String | List
$_font-family-monospace: Consolas, "Liberation Mono", Menlo, Courier, monospace;

/// Background color of the body.
/// @type Color
$_body-background: color(bg, white);

/// Text color of the body.
/// @type Color
$_body-font-color: color(text);

/// Font stack of the body.
/// @type List
$_body-font-family: $_font-family;

/// Set to `true` to enable antialiased type, using the `-webkit-font-smoothing` and `-moz-osx-font-smoothing` CSS properties.
/// @type Boolean
$_body-antialiased: true;

@mixin hs-global-styles() {
  @include _hs-normalize;

  // The selector :root is usually used with CSS variables, which matches
  // the root level element (in this case, html), but its specificity is higher.
  // See https://developer.mozilla.org/en-US/docs/Web/CSS/:root
  :root {
    --hs-custom-primary-color: color(primary);
  }

  html,
  body {
    height: 100%;
  }

  html {
    font-size: font-size(body);
    box-sizing: border-box;
  }

  // Set box-sizing globally to handle padding and border widths
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  // Default body styles
  body {
    font-family: $_body-font-family;
    font-weight: font-weight(normal);
    line-height: line-height(body);
    color: $_body-font-color;
    background: transparent;

    @if ($_body-antialiased) {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
    }
  }

  // Faq can contain an iframe having fixed width which can be greater than web widget width
  .hs-faq iframe {
    max-width: 100%;
  }
}
