// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - -
// Custom css variables
// - - - - - - - - - - -

// The selector :root is usually used with CSS variables, which matches
// the root level element (in this case, html), but its specificity is higher.
// See https://developer.mozilla.org/en-US/docs/Web/CSS/:root

:root {
  // @TODO :- Rename 'primary' color to 'base' color
  --hs-primary-color: "#43bf6c";
  --hs-primary-color-dark: "";
  --hs-primary-color-light: "";
  --hs-primary-font: $_font-family-system;
  --hs-initial-primary-bg-color: color(primary);
  --hs-initial-primary-text-color: color(text, white);
  --hs-initial-secondary-bg-color: "#fa3e3e";
  --hs-initial-secondary-text-color: color(text, white);
  --hs-header-bg-color: color(primary);
  --hs-header-text-color: color(text, white);
}
