// Styles for Helpshift Web SDK UI
// [helpshift.com](https://helpshift.com)
// Copyright 2017, Helpshift Inc.

// - - - - - - - - - - -
// Custom css variables
// - - - - - - - - - - -

// The selector :root is usually used with CSS variables, which matches
// the root level element (in this case, html), but its specificity is higher.
// See https://developer.mozilla.org/en-US/docs/Web/CSS/:root

:root {
  --hs-primary-color: "#43bf6c";
  --hs-primary-color-dark: "";
  --hs-primary-color-light: "";
}
